{% extends 'base/base.html' %}
{% load static %}
{% block extraStyle %}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main/base.css' %}">
{% endblock %}

{% block body %}
    <header></header>
    {% block content %}

    {% endblock %}
    <footer>

        <a class="home" href="{% url 'one:home' %}">
            <dl>
                <dt><span></span></dt>
                <dd>首页</dd>
            </dl>

        </a>

        <a class="market" href="{% url 'one:marketNoParams' %}">
            <dl>
                <dt><span></span></dt>
                <dd>闪购</dd>
            </dl>

        </a>

        <a class="cart" href="{% url 'one:cart' %}">
            <dl>
                <dt><span></span></dt>
                <dd>购物车</dd>
            </dl>

        </a>

        <a class="mine" href="{% url 'one:mine' %}">
            <dl>
                <dt><span></span></dt>
                <dd>我的</dd>
            </dl>

        </a>


    </footer>

{% endblock %}